form{
    border: 1px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: 500px;
}

div{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
}

input{
    grid-column-start: 2;
    grid-column-end: 3;
}

#target{
    width: 200px;
    height: 200px;
    border: 4px ridge black;
    margin-bottom: 20px;
}